.title
{
	font-variant: small-caps;
	color: #E74C3C;
	font-size: 50px;
}
.subtitle
{
	padding-left: 180px;
	font-family: cursive;
	font-size: 25px;
	color: #2E86C1;
}
.table
{
	font-variant: small-caps;
	line-height: 1px;
	text-align: right;
	float: right;
	color: grey;
	font-size: large;
}
a
{
	text-decoration: none;
	color: grey;
}
a:hover
{
	color: lightblue;
}
a:active
{
	box-shadow: transparent;
	color: orange;
}
.struct
{
	background-color: #FEF9E7;
}
.img
{
	height: 20%;
	width: 20%;
	border-radius: 160px;
	border-color: black;
}
.body
{
	padding: 1%;
	padding-left: 50px;
}
.text
{
	float: right;
	font-size: 65px;
	font-family: sans-serif;
	padding-right: 60%;
	padding-top: 6%;
}
.t1
{
	font-size: 30px;
	font-family: monospace;
}
.t2
{
	color: #000;
	font-size: 25px;
	font-weight: bolder;
	padding-left: 4%;
	font-family: Calibri;
}
.circle
{
	padding-left: 24%;
}
button:hover
{
	background-color: #641E16;
	color: white;
	border-color: cyan;
}
.circle_pink
{
	height: 135px;
	width: 135px;
	border-radius: 50%;
	background-color: pink;
}
.circle_blue
{
	height: 135px;
	width: 135px;
	border-radius: 50%;
	background-color: lightblue;
}
.circle_yellow
{
	height: 135px;
	width: 135px;
	border-radius: 50%;
	background-color: #F4FA58;
}
.font
{
	font-variant: small-caps;
	font-size: 20px;
}
p.hover
{
  width: 500px;
  height: 100px;
  background: #FEF9E7;
  -webkit-transition: width 2s, height 4s;
  transition: width 3s, height 4s;
}
p.hover:hover 
{
  width: 900px;
  height: 60px;
  font-size: 15px;
  font-weight: bold;
  font-family: monospace;
  color: black;
  background-color: white;
  box-shadow: inherit;
  border-radius: 10px;
}

footer
{
	width: 100%;
	height: 50%;
	border-color: black;
	border-radius: 2px;
	background-color: #D0ECE7;
}
.f1
{
	font-variant: small-caps;
	font-weight: bold;
	padding-top: 40px; 
}
.ff1
{
	font-family: monospace;
	font-variant: normal;
	font-size: 13px;
	font-weight: normal;
	color: blue;
}
div.con
{
	font-size: 45px;
	color: darkblue;
	font-family: Times New Roman;
	text-transform: uppercase;
	border: solid;
	border-top-color: white;
	border-left-color: white;
	border-right-color: white;
	border-bottom-color: black;
}
.ind
{
	text-align: center;
	color: lime;
	border-radius: 20px;
	background-color: black;
	font-family: monospace;
	font-variant: small-caps;
	
}
div.pright
{
	padding-left: 90%;
}
div.rhead
{
	padding-left: 25px;
	color: blue;
	font-variant: small-caps;
	font-size: 26px;
}
div.shead
{
	padding-left: 25px;
}
.hr
{
	font-weight: bold;
	font-size: 20px;
}
.scaps
{
	font-size: 18px;
	font-variant: small-caps;
}
.cont
{
	font-size: 15px;
	width: 450px;
}
.field
{
	font-size: 20px;
	margin-left: 10%;
	margin-right: 10%;
}
.in
{
	display: inline;
	position: absolute;
	margin-top: 15px;
	margin-left: 20px;
	font-family: sans-serif;
}
.inin
{
	font-size: 15px;
	color: grey;
}
.side
{
	height: 100%;
	width: 50%;
	position: fixed;
	box-sizing: border-box;
	z-index: 1;
	overflow-x: hidden;
	padding-top: 20px;

}
.left
{
	left: 0;
	width: 48%;
	background-color: silver;
}
.right
{
	right: 0;
	height: 10%;
	border-style: solid;
	background-color: white;
}